.footer {
  padding-block: var(--space-6);
  padding-inline: var(--space-4);
  border-block-start: 1px solid rgb(var(--color-peat-200));
  background-color: rgb(var(--color-peat-50));
}

.container {
  max-inline-size: 80rem;
  margin-inline: auto;
  text-align: center;
}

.text {
  font-size: var(--font-sm);
  color: rgb(var(--color-peat-600));
}

.verb {
  display: inline-block;
  min-inline-size: 120px;
  transition: opacity 300ms;
}

.link {
  color: rgb(var(--color-brine-600));
  font-weight: 500;
  text-decoration: none;
}

.link:hover {
  color: rgb(var(--color-brine-700));
  text-decoration: underline;
}
